*{
    font-family: 'Kanit', sans-serif;

}
.row{
    justify-content:space-evenly;
    
}
.btn{
    display: flex;
    width: 100%;
    height: 90%;
}

body{
    color: #3d2564;
    background-image: url("img/tlo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;

}
header{
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.link_{
    float: inline-end;
    text-decoration: none;
    color: #eed3fe;
    font-size: 100%;
    padding: 0.5%;
    font-weight: bold;
}
.link_:hover{
    background-color: rgb(127, 62, 202);
    transition: 1s;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d2564;
    color: #eed3fe;
    font-size: 15pt;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 3px solid #0f0028;
}
@media screen and (max-width: 750px) {
    #title{
        font-size:2.5vw;
    }
  }
#logo_img{
    width: 30vw;
    height: 100%;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0028;
}

nav{
    display: flex;
    justify-content: center;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3d2564;
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    align-items: center;
}

@media screen and (max-width: 750px) {
    nav {
        font-size:2.5vw;
    }
  }

main{
    font-size: 25pt;
    height: auto;

}
#karuzela{
    background-color: rgb(238, 211, 254, 0.6);
    float: left;
    width: 85%;
    height: 90%;
    margin: 0.5%;
    padding: 0.5%;

    border: 2%;
    border-color: #4a154d;
    border-style: double;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.naglowek{
    padding: 2%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer{
    clear: both;
    padding: 1%;
    height: 7%;
    background-color: #0f0028;
    color: #eed3fe;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table{
    width: 100%;
    border-collapse: collapse;

}
.statsy_bron{
    width: 20%; 
    font-size:50%;
}
td{
    width: 50%;
    border: 5px solid #2e1158!important;
    padding:2%;
}
#naglowek_okienko{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
#obrazek_okienko{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #2e1158!important;
    padding: 4vh;
}
#nazwa_okienko{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.mb-2{
    font-size: 85%;
    font-weight: bold;
    
}
.modal-body{
    display: flex;
    flex-direction: column;
}

#cale_te{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
}
#cale_te_postacie{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
    height:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#cale_te_postacie:hover{
    background-color: rgb(127, 62, 202);
    transition: 0.5s;
}
#cale_te_bron{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
    height:100%;
    vertical-align: middle;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#cale_te_bron:hover{
    background-color: rgb(127, 62, 202);
    transition: 0.5s;
}
#cale_te_item{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
    height: 100%;
    vertical-align: middle;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#cale_te_item:hover{
    background-color: rgb(127, 62, 202);
    transition: 0.5s;
}
#cale_te_enemy{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
    height:100%;
    vertical-align: middle;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;

}
#cale_te_enemy:hover{
    background-color: rgb(127, 62, 202);
    transition: 0.5s;
}
#cale_te_boss{
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
    color: #dcbdee;
    height:100%;
    vertical-align: middle;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
#cale_te_boss:hover{
    background-color: rgb(127, 62, 202);
    transition: 0.5s;
}

.window_start{
    background-color: rgb(238, 211, 254, 0.6);

    width: 85%;

    margin: 0.5%;
    margin-left: 8%;
    padding: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    border-color: #4a154d;
    border-style: double;
    border-radius: 10px;

    text-align: justify; 
    text-justify: inter-word;
    
}
@media screen and (max-width: 750px) {
    .window_start{
        width: 90%;
    }
  }

.button{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #0f0028;
    border: 5px solid #2e1158!important;
}
.button:hover{
    background-color: rgb(127, 62, 202);
    transition: 1s;
}

.spis{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #0f0028;
    border: 5px solid #eed3fe!important;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding: 2%;
    width: 50%;
    height: 100%;
}
.spis_3{
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #0f0028;
    border: 5px solid #eed3fe!important;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: 100%;

}
#dodatkowy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1100px) {
    #dodatkowy{
        flex-direction: column;
    }
  }

#nazwa{
    border: 5px solid #2e1158!important;
    width: 100%;
}

.temat{
    font-size: 50pt;
}
@media screen and (max-width: 750px) {
    .temat{
        font-size:10vw;
    }
  }

.text_content{
    font-size: 20pt;
}
@media screen and (max-width: 750px) {
    .text_content{
        font-size:4.5vw;
    }
  }
.vl {
    border-left: 2px solid #eed3fe!important;
    height: 4vh;
    margin-left: 4.5px;
    margin-right: 4.5px;
  }

  .temat_2{
    font-size: 40pt;
}
@media screen and (max-width: 750px) {
    .temat_2{
        font-size:7vw;
    }
  }

.spis_2{
    float: inline-end;
    text-decoration: none;
    color: #eed3fe;
    font-size: 25pt;
    padding: 0.5%;
    font-weight: bold;
}
.spis_2:hover{
    background-color: rgb(127, 62, 202);
    transition: 1s;
}

@media screen and (max-width: 750px) {
    .spis_2{
        font-size:3.5vw;
    }
  }

/*
KOLORY:
#810484
#4a154d
#eed3fe
#cba8e0
*/