*{
    font-family: 'Kanit', sans-serif;

}
.row{
    justify-content:space-evenly;
    
}
.btn{
    display: flex;
    width: 100%;
    height: 90%;

}

body{
    height: 80%;
    color: #3d2564;
    background-color: #cba8e0;
    background-image: url("img/tlo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
header{
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.link_{
    text-decoration: none;
    color: #eed3fe;
    font-size: 110%;
    padding-left: 1%;
    padding-right: 1%;
}
#title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d2564;
    color: #eed3fe;
    font-size: 15pt;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-bottom: 3px solid #0f0028;
}
#logo_img{
    width: 30vw;
    height: 100%;
}
#logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0028;
}

nav{
    display: flex;
    justify-content: center;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #3d2564;
    height: 60%;

}
main{
    font-size: 25pt;
    height: auto;

}
#karuzela{
    background-color: rgb(238, 211, 254, 0.6);
    float: left;
    width: 60%;
    height: 60%;
    margin: 0.5%;
    margin-left: 8%;
    padding: 0.5%;

    border: 2%;
    border-color: #4a154d;
    border-style: double;

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#karuzela_obraz{
    width: 80%;

}

#kom_sekcja{
    background-color: rgb(238, 211, 254, 0.6);
    float: right;
    width: 20%;
    height: 30%;
    margin: 0.5%;
    margin-right: 8%;
    padding: 0.5%;

    border: 2%;
    border-color: #4a154d;
    border-style: double;

    border-radius: 10px;
}
#content{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 211, 254, 0.6);
    float: left;
    width: 60%;
    height: 60%;
    margin: 0.5%;
    margin-left: 8%;
    padding: 0.5%;

    border: 2%;
    border-color: #4a154d;
    border-style: double;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
}
.content_group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content_single{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0f0028;
    color: #eed3fe;
    margin: 2%;

    border-radius: 10px;
    height: 100%;
    width: 25%;

}
.content_content{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d2564;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    margin: 2%;
}
.content_img{
    height: fit-content;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}
.naglowek{
    padding: 2%;
    color: white;
    text-decoration: none;
}
#dodatkowe{
    background-color: rgb(238, 211, 254, 0.6);
    float: right;
    width: 20%;
    height: 30%;
    margin: 0.5%;
    margin-right: 8%;
    padding: 0.5%;

    border: 2%;
    border-color: #4a154d;
    border-style: double;

    border-radius: 10px;
}
footer{
    clear: both;
    padding: 1%;
    height: 5%;
    background-color: #0f0028;
    color: #eed3fe;

    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table{
    border-collapse: collapse;
}
.statsy_bron{
    width: 20%; 
    font-size:50%;
}
td{
    width: 55%;
    border: 1px solid white!important;
}

/*
KOLORY:
#810484
#4a154d
#eed3fe
#cba8e0
*/